<div id="recents">
  <h1 id="recents-title">Latest Jobs</h1>
  <ul>
    <li *ngFor="let job of recents$">
      <div id="recents-container">
        <div id="recents-thumb">
          <a routerLink="/jobs">
            <!-- add link to category in jobs page -->
            <div id="hexagon-left"></div>
            <div id="hexagon-middle">
              <img id="recents-thumb-img" src="../../../assets/test/code.png">
            </div>
            <div id="hexagon-right"></div>
          </a>
        </div>
        <div id="recents-content">
          <a routerLink="/jobs/{{job.id}}">
            <p id="recents-content-date">{{job.postDate}}</p>
            <h4 id="recents-content-title" class="roboto-c">{{job.title}} for {{job.company}}</h4>
            <p id="recents-content-summary">{{job.summary}}</p>
          </a>
        </div>
        <div id="recents-arrow">
          <a routerLink="/jobs/{{job.id}}">
            <img id="recents-arrow-img" src="../../../assets/right-arrow.png">
          </a>
        </div>
      </div>

    </li>
  </ul>
</div>
