/*
 * Imports:
 * - Foundation CSS Framework
 * - Datatables
 * - FontAwesome
 * - Vegas JS
 * - ngx-quill (text editor)
 */
@import "../node_modules/foundation-sites/assets/foundation";
@import "../node_modules/datatables.net-zf/css/dataTables.foundation.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/vegas/dist/vegas.min.css";
@import "../node_modules/quill/dist/quill.snow.css";
/*
 */

@import "variables.scss";
@import "assets/fonts/fonts.css";

html, body {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column; }

p {
  font-family: "Roboto Condensed", "Open Sans MS", serif;
}
