/* Styling moet ervoor zorgen dat :

    v de pagina 800 pixels breed is en gecentreerd wordt op je beeldscherm, binnen de 800 pixels blijft de hoofdtekst links uitgelijnd. */
* {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  margin: auto; /* align center */
  width: 800px;
  text-align: left;
}

/* v de header tekst minimaal 48 pixels hoog is, en gecentreerd is.*/
h1 {
  color: black;
  font-size: 48px;
  text-align: center;
}

/*
 * Navigation bar section
 */
.navbar ul {
  list-style-type: none; /* no bullet list */
  margin: 0;
  padding: 0;
  overflow: hidden; /* creates invisible overflow next to list items to prevent next elements (paragraphs etc) from appearing right behind list items */
  /* background-color: #333333;  */
}

.navbar li {
  float: left; /* elementen horizontaal naast elkaar */
  width: 25%;
}

/* v de links in het menu geen underline hebben.
   v de links in het menu een witte tekst op een blauwe achtergrond hebben. */
.navbar li a {
  display: inline-block;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 16px;
  width: 100%;

  text-decoration: none; /* no underline */

  border: 3px solid lightgray;
  border-radius: 15px;
  /* margin: 25px; */
  /* outline: 10px solid blue; /* needs margins to be visible */  */
}

.navbar li a:hover {
  background-color: darkblue;
}

.navbar li a.active {
  background-color: white;
  color: black;
}

.navbar li a:hover:not(.active) {
  background-color: blue;
  color: white;
}
/*
 * end navigation bar section
 */

.mainBody {
  background-color: white;
  padding: 15px;
}

/* v de pagina-tekst een tekstgrootte van 12 pixels hebben en donkergrijs van kleur op een witte achtergrond.*/
.mainBody p {
  font-size: 12px;
  color: DarkGray;
}

.mainBody li {
  font-size: 12px;
  color: DarkGray;
}

/*
 * Forms section
 *
 * de inputvelden 400 pixels breed zijn, en de labels ervoor staan.
 *
 */
.formfield {
  border-radius: 5px;
  background-color: lightgray;
  padding: 25px;
  /* margin: 0px 25px; */
}

.formrow {
  margin: 5px 0px;
}
.label {
  display: inline-block;
  float: left;
  width: 25%;
}

.entry {
  float: left;
  width: 75%;
}

input[type=text], input[type=email], textarea {
  width: 400px;
  /* width: 100%; */

}

input[type=submit] {
  float: left;
}

.formrow:after {
  content: "";
  display: table;
  clear: left;
}
/*
 * end forms section
 */

/* v de footer een zwarte achtergrond heeft met witte letters, tekstgrootte van 10 pixels en rechts is uitgelijnd.*/
footer {
  background-color: Black;
  color: white;
  font-size: 10px;
  text-align: right;
}
