/* Styling moet ervoor zorgen dat :

    v de pagina 800 pixels breed is en gecentreerd wordt op je beeldscherm, binnen de 800 pixels blijft de hoofdtekst links uitgelijnd. */
body {
  background-color: green;
  margin: auto; /* align center */
  width: 800px;
  text-align: left;
}

/* v de header tekst minimaal 48 pixels hoog is, en gecentreerd is.*/
h1 {
  color: black;
  font-size: 48px;
  text-align: center;
}

/* v de lijst die het menu voorstelt geen bullets bevat, en de items omkaderd zijn en op 1 regel achter elkaar staan.*/
.navbar ul {
  list-style-type: none; /* no bullet list */
  /* margin: 0; */
  padding: 0;
  overflow: hidden; /* creates invisible overflow next to list items to prevent next elements (paragraphs etc) from appearing right behind list items */
  /* background-color: #333333;  */
}

.navbar li {
  float: left; /* elementen horizontaal naast elkaar */
}

/* v de links in het menu geen underline hebben.
   v de links in het menu een witte tekst op een blauwe achtergrond hebben. */
.navbar li a {
  display: block;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 16px;

  text-decoration: none; /* no underline */

  border: 3px solid lightgray;
  /* margin: 25px; */
  /* outline: 10px solid blue; /* needs margins to be visible */  */
}

.navbar li a:hover {
  background-color: darkblue;
}

.mainBody {
  background-color: white;
}

/* v de pagina-tekst een tekstgrootte van 12 pixels hebben en donkergrijs van kleur op een witte achtergrond.*/
.mainBody p {
  font-size: 12px;
  color: DarkGray;
}

/* v de footer een zwarte achtergrond heeft met witte letters, tekstgrootte van 10 pixels en rechts is uitgelijnd.*/
footer {
  background-color: Black;
  color: white;
  font-size: 10px;
  text-align: right;
}

/* de inputvelden 400 pixels breed zijn, en de labels ervoor staan. */


/*
   Deel je HTML code in in divisies/elementen met een class en style je tags per divisie/element!
*/
