<p>home works!</p>

<div *ngIf="users">
  <h1>ng hardcoded results</h1>
  <ul>
    <li *ngFor="let person of users">
      <h2>{{person.name}} Details</h2>
      <div><span>id: </span>{{person.id}}</div>
      <div><span>username: </span>{{person.username}}</div>
      <div><span>email: </span>{{person.email}}</div>
    </li>
  </ul>
</div>

<div *ngIf="peopleApi$">
  <h1>External API results</h1>
  <ul>
    <li *ngFor="let person of peopleApi$">
      <h2>{{person.name}} Details</h2>
      <div><span>id: </span>{{person.id}}</div>
      <div><span>username: </span>{{person.username}}</div>
      <div><span>email: </span>{{person.email}}</div>
    </li>
  </ul>
</div>

<div *ngIf="peopleLocal$">
  <h1>SF5 local API results</h1>
  <ul>
    <li *ngFor="let person of peopleLocal$">
      <h2>{{person.name}} Details</h2>
      <div><span>id: </span>{{person.id}}</div>
      <div><span>username: </span>{{person.username}}</div>
      <div><span>email: </span>{{person.email}}</div>
    </li>
  </ul>
</div>
