@import "../../../../variables";

#header-deco-block {
  width: 100%;
  height: 40px;
  margin-top: -15px; /*for exact positioning */
  background-color: $vacit-orange;
  transform: rotate(-1grad);
  box-shadow: 0px 6px 8px grey; }
